<nav class="navbar navbar-light shadow-sm p-3 mb-5 bg-body rounded">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt=""
        width="30" height="24" class="d-inline-block align-text-top">URL Shortener
    </a>
  </div>
</nav>

<div class="container">

  <div class="col text-center">
    <h1>URL Shortener</h1>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt=""
      width="250" height="250" style="margin: 30px">
  </div>

  <div class="row col-sm-5 mx-auto mb-3">
    <label for="exampleFormControlInput1" class="form-label text-center">Original URL:</label>
    <input type="url" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Enter an URL">
    <button type="button" class="btn btn-primary mt-3">轉換成短網址</button>
  </div>

  

</div>